<div class="content-side content-side-full">
  <ul class="nav-main">
    <li class="nav-main-heading">ADMIN MAIN MENU</li>

    <li class="nav-main-item">
      <a class="nav-main-link active" routerLink="/dashboard/admin/admindashboard">
        <i class="nav-main-link-icon fa fa-house-user"></i>
        <span class="nav-main-link-name">My Dashboard</span>
      </a>
    </li>

    <li class="nav-main-item">
      <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false"
        href="#">
        <i class="nav-main-link-icon fa fa-edit"></i>
        <span class="nav-main-link-name">Registration</span>
      </a>
      <ul class="nav-main-submenu">
        <li class="nav-main-item">
          <a class="nav-main-link" routerLink="/dashboard/admin/enrolmenu">
            <i class="nav-main-link-icon fa fa-user-plus"></i>
            <span class="nav-main-link-name">Enrolment</span>
          </a>
        </li>
        <li class="nav-main-item">
          <a class="nav-main-link" href="javascript:void(0)">
            <i class="nav-main-link-icon fa fa-file-contract"></i>
            <span class="nav-main-link-name">Quality Control</span>
          </a>
        </li>
        <li class="nav-main-item">
          <a class="nav-main-link" routerLink="/dashboard/admin/all-users-list">
            <i class="nav-main-link-icon fa fa-users"></i>
            <span class="nav-main-link-name">Users List</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-main-item">
      <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false"
        href="#">
        <i class="nav-main-link-icon fa fa-kit-medical"></i>
        <span class="nav-main-link-name">Medical Services</span>
      </a>
    </li>
    <li class="nav-main-item">
      <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false"
        href="#">
        <i class="nav-main-link-icon fa fa-user-tie"></i>
        <span class="nav-main-link-name">HR/Admin</span>
      </a>
    </li>
    <li class="nav-main-item">
      <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false"
        href="#">
        <i class="nav-main-link-icon fa fa-money-check-dollar"></i>
        <span class="nav-main-link-name">Accounts</span>
      </a>
    </li>
    <li class="nav-main-item">
      <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false"
        href="#">
        <i class="nav-main-link-icon fa fa-file-invoice"></i>
        <span class="nav-main-link-name">Reports</span>
      </a>
    </li>
  </ul>
</div>