<div class="col-md-12">
    <div class="block block-rounded block-bordered block-link-shadow">
        <div style="background-color: #edc384 ;" class="block-header block-header-default">
            <h3 style="color: #21262b;" class="block-title fw-bold">ADMIN Dashboard Overview</h3>
            <div class="block-options ">
                <button style ="color: #21262b;"  type="button" class="btn-block-option mx-3" data-toggle="block-option"
                    data-action="fullscreen_toggle"></button>
                <button style ="color: #21262b;"  type="button" class="btn-block-option" data-toggle="block-option"
                    data-action="content_toggle"></button>
            </div>
        </div>
        <div class="block-content">
            <div class="custom-box m-1 p-3">
                <!-- <h2 class="content-heading"></h2> -->
                <div class="row g-sm">
                    <div class="col-6 col-md-4 col-xl-3">
                        <a class="block block-transparent text-center bg-primary" href="javascript:void(0)">
                            <div class="block-content bg-black-5 py-3">
                                <p class="fw-semibold text-white-75 mb-0">
                                 Claims Paid
                                </p>
                            </div>
                            <div class="block-content">
                                <p class="fs-1 text-white">
                                    <strong><span>&#8358;</span>0</strong>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3">
                        <a class="block block-transparent text-center bg-gd-cherry" href="javascript:void(0)">
                            <div class="block-content bg-black-5 py-3">
                                <p class="fw-semibold text-white-75 mb-0">
                                    Capitation
                                </p>
                            </div>
                            <div class="block-content">
                                <p class="fs-1 text-white">
                                    <strong>0</strong>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3">
                        <a class="block block-transparent text-center bg-corporate" href="javascript:void(0)">
                            <div class="block-content bg-black-5 py-3">
                                <p class="fw-semibold text-white-75 mb-0">
                                    Enrollees
                                </p>
                            </div>
                            <div class="block-content">
                                <p class="fs-1 text-white">
                                    <strong>3</strong>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3">
                        <a class="block block-transparent text-center bg-gd-cherry" href="javascript:void(0)">
                            <div class="block-content bg-black-5 py-3">
                                <p class="fw-semibold text-white-75 mb-0">
                                    Encounter
                                </p>
                            </div>
                            <div class="block-content">
                                <p class="fs-1 text-white">
                                    <strong>8</strong>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row gap-1 d-flex flex-fill justify-content-center mx-2">
                <div class="col-md-5 custom-box ">
                  <a class="block block-rounded block-link-shadow overflow-hidden mt-4" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                        <div class="text-center">
                            <i class="si si-users fa-2x opacity-25"></i>
                        </div>
                      <div class="row g-5 py-3">
                        <div class="col-4 text-end border-end">
                          <div>
                            <div class="fs-3 fw-semibold text-success">16</div>
                            <div class="fs-sm fw-semibold text-uppercase text-muted">Male</div>
                          </div>
                        </div>
                        <div class="col-4 text-center border-end">
                          <div>
                            <div class="fs-3 fw-semibold text-danger">2</div>
                            <div class="fs-sm fw-semibold text-uppercase text-muted">Female</div>
                          </div>
                        </div>
                        <div class="col-4 text-start">
                            <div>
                              <div class="fs-3 fw-semibold text-warning">2</div>
                              <div class="fs-sm fw-semibold text-uppercase text-muted">Dependant</div>
                            </div>
                          </div>
                      </div>
                      <div class="my-3 text-center fs-sm text-bg-light text-muted opacity-75">Enrollee Stats</div>
                    </div>
                  </a>
                </div>
                <div class="col-md-5 custom-box ">
                  <a class="block block-rounded block-link-shadow overflow-hidden mt-4" href="javascript:void(0)">
                    <div class="block-content block-content-full">
                      <div class="text-center">
                        <i class="si si-users fa-2x opacity-25"></i>
                      </div>
                      <div class="row g-5 py-3">
                        <div class="col-6 text-end border-end">
                          <div>
                            <div class="fs-3 fw-semibold text-info">6</div>
                            <div class="fs-sm fw-semibold text-uppercase text-muted">New</div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div>
                            <div class="fs-3 fw-semibold text-success">97%</div>
                            <div class="fs-sm fw-semibold text-uppercase text-muted">Active</div>
                          </div>
                        </div>
                      </div>
                      <div class="my-3 text-center fs-sm text-bg-light text-muted opacity-75">Account Stats</div>
                    </div>
                  </a>
                </div>
            </div>
            <div class="content">
                <div class="row">
                  <div class="col-xl-6">
                    <!-- Lines Chart -->
                    <div class="block block-rounded">
                      <div class="block-header block-header-default">
                        <h3 class="block-title">Lines Chart</h3>
                        <div class="block-options">
                          <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                          </button>
                        </div>
                      </div>
                      <div class="block-content block-content-full text-center">
                        <!-- Lines Chart Container -->
                        <canvas id=""></canvas>
                      </div>
                    </div>
                    <!-- END Lines Chart -->
                  </div>
                  <div class="col-xl-6">
                    <!-- Lines Chart -->
                    <div class="block block-rounded">
                      <div class="block-header block-header-default">
                        <h3 class="block-title">Pie Chart</h3>
                        <div class="block-options">
                          <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                          </button>
                        </div>
                      </div>
                      <div class="block-content block-content-full text-center">
                        <!-- Lines Chart Container -->
                        <canvas id=""></canvas>
                      </div>
                    </div>
                    <!-- END Lines Chart -->
                  </div>
              </div>

        </div>
        
    </div>
    <div style="background-color: #edc384;"
        class="block-content block-content-full block-content-sm fs-sm fw-semibold text-center text-capitalize">
        Data Entry Analytics
    </div>
</div>