<div class="block block-rounded block-bordered block-link-shadow">
    <div style="background-color: #edc384 ;" class="block-header block-header-default">
        <h3 style="color: white;" class="block-title fw-bold text-uppercase text-center fs-4">Enrolment Menu</h3>
        <div class="block-options ">
            <button style ="color: #21262b;"  type="button" class="btn-block-option mx-3" data-toggle="block-option"
                data-action="fullscreen_toggle"></button>
            <button style ="color: #21262b;"  type="button" class="btn-block-option" data-toggle="block-option"
                data-action="content_toggle"></button>
        </div>
    </div>
    <div class="block-content">
        <div class="custom-box m-1 p-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="block block-rounded">
                        <div class="myribbon block-content block-content-full ribbon ribbon-glass">
                            <div class="ribbon-box pt-1" data-bs-toggle="popover" data-bs-placement="top"  data-bs-content="Select this option if you are employed by the State Civil Service (e.g Pensioneers, Interns and Casuals)">
                                <i class="myicon far fa-lightbulb me-1"></i>
                            </div>
                            <div class="text-center py-5">
                                <h5 class="fw-bold mb-0 myhead" routerLink="/dashboard/admin/enrolment">STATE <br> Civil Servant</h5>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-md-3">
                    <div class="block block-rounded">
                        <div class="myribbon block-content block-content-full ribbon ribbon-glass">
                            <div class="ribbon-box pt-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Select this option if you are employed by a LGA Civil Service (e.g Pensioneers, Interns & Casuals)">
                                <i class="myicon far fa-lightbulb me-1"></i>
                            </div>
                            <div class="text-center py-5">
                                <h5 class="fw-bold mb-0 myhead" routerLink="/dashboard/admin/enrolment">LOCAL GOVT. <br> Civil Servant</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block block-rounded">
                        <div class="myribbon block-content block-content-full ribbon ribbon-glass" >
                            <div class="ribbon-box pt-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Select this option if you are employed by a State RDA Civil Service (e.g Pensioneers, interns and casuals)">
                                <i class="myicon far fa-lightbulb me-1" ></i>
                            </div>
                            <div class="text-center py-5">
                                <h5 class="fw-bold mb-0 myhead" routerLink="/dashboard/admin/enrolment">State RDA<br> Civil Servant</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block block-rounded">
                        <div class="myribbon block-content block-content-full ribbon ribbon-glass" >
                            <div class="ribbon-box pt-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Select this option if you have been selected for Basic Healthcare Provision Fund Insurance">
                                <i class="myicon far fa-lightbulb me-1"></i>
                            </div>
                            <div class="text-center py-5">
                                <h5 class="fw-bold mb-0 myhead" routerLink="/dashboard/admin/enrolment">BHCPF <br> Personnel</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="block block-rounded">
                        <div class="myribbon block-content block-content-full ribbon ribbon-glass">
                            <div class="ribbon-box pt-1" data-bs-toggle="popover" data-bs-placement="top"  data-bs-content="Select this option if you are Self Employed, An Employee of a Private Organisation or An Artisan">
                                <i class="myicon far fa-lightbulb me-1"></i>
                            </div>
                            <div class="text-center py-5">
                                <h5 class="fw-bold mb-0 myhead" routerLink="/dashboard/admin/enrolment">Private Sector <br> Insurance</h5>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-md-3">
                    <div class="block block-rounded">
                        <div class="myribbon block-content block-content-full ribbon ribbon-glass">
                            <div class="ribbon-box pt-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Select this option if you are a Student of a Tertiary Institution.( Universities, Polytechnics & Colleges )">
                                <i class="myicon far fa-lightbulb me-1"></i>
                            </div>
                            <div class="text-center py-5">
                                <h5 class="fw-bold mb-0 myhead text-nowrap" routerLink="/dashboard/admin/enrolment">Tertiary Institution <br> Student Insurance</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block block-rounded">
                        <div class="myribbon block-content block-content-full ribbon ribbon-glass" >
                            <div class="ribbon-box pt-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Please select this option for Communitty Health Insurance">
                                <i class="myicon far fa-lightbulb me-1" ></i>
                            </div>
                            <div class="text-center py-5">
                                <h5 class="fw-bold mb-0 myhead text-nowrap" routerLink="/dashboard/admin/enrolment">Community Health<br> Insurance</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block block-rounded">
                        <div class="myribbon block-content block-content-full ribbon ribbon-glass" >
                            <div class="ribbon-box pt-1" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Please select this option for Extra Dependant Insurance">
                                <i class="myicon far fa-lightbulb me-1"></i>
                            </div>
                            <div class="text-center py-5">
                                <h5 class="fw-bold mb-0 myhead" routerLink="/dashboard/admin/enrolment">Extra Dependant <br> Insurance</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div style="background-color: #edc384;"
    class="block-content block-content-full block-content-sm fs-sm fw-semibold text-center text-capitalize">
    Enrolment/Registration Categories
</div>
</div>